/*Sets rules for nav bar elements*/
.nav {
	position: absolute;
	width: 100%;
	background: linear-gradient(green, #003d00);
}
.nav-element {
	background: linear-gradient(green, #003d00);
	display: inline-block;
	position: relative;
	float: left;
	padding: 1rem;
	margin: .4rem;
	margin-bottom: 1.2rem;
	text-align: center;
	border-right: 1px solid white;
}
/*Adds shadow to element on hover*/
.nav-element:hover, .btn:hover {
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
}
.nav-element:active, .btn:active {
	transform: translateY(.1rem);
}

a {
	color: ghostwhite;
	text-decoration: none;
}
/*Sets width and height of images*/
.persona-image {
	width: 250px;
	height: auto;
}

/*Sets background color and border style of button element*/
.btn {
	background-color: #141d19;
	border-radius: 50%;
	border: none;
	padding: 10px;
	width: 64px;
}