<main>
	<form [formGroup]="animalForm" (ngSubmit)="onSubmit()" class="form-control-md mt-5" id="form-animal">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-6">
					<h1 class="text-center my-5">Post a Pet</h1>
				</div><!--col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center">
				<div class="form-group col-md-2">
					<label class="control-label" for="status">Animal Status <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-check-square text-primary"></i></span>
						</div><!--input-group-prepend-->
						<select
							class="form-control"
							id="status"
							name="status"
							[formControl]="astatus"
						>
							<option selected>Lost</option>
							<option>Found</option>
							<option>Reunited</option>
						</select>
					</div><!--input-group mb-3-->
				</div><!--form-group col-md-2-->
				<div class="form-group col-md-2">
					<label class="control-label" for="species">Animal Species <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-check-square text-primary"></i></span>
						</div><!--input-group-prepend-->
						<select
							class="form-control"
							id="species"
							name="species"
							[formControl]="aspecies"
						>
							<option selected>Dog</option>
							<option>Cat</option>
						</select>
					</div><!--input-group mb-3-->
				</div><!--form-group col-md-2-->
				<div class="form-group col-md-2">
					<label class="control-label" for="gender">Pet Gender <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-check-square text-primary"></i></span>
						</div><!--input-group-prepend-->
						<select
							class="form-control"
							id="gender"
							name="gender"
							[formControl]="agender"
						>
							<option selected>Unknown</option>
							<option>Female</option>
							<option>Male</option>
						</select>
					</div><!--input-group mb-3-->
				</div><!--form-group col-md-2-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center">
				<div class="form-group col-md-6">
					<label class="control-label" for="name">Pet Name</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-pencil-alt text-primary"></i></span>
						</div><!--input-group-prepend-->
						<input
							type="text"
							class="form-control"
							id="name"
							name="name"
							[formControl]="aname"
							placeholder="Animal name. Leave empty if unknown."
						/>
					</div><!--input-group mb-3-->
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center mb-3">
				<div class="form-group col-md-6">
					<label class="control-label" for="color">Pet Color</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-check-square text-primary"></i></span>
						</div><!--input-group-prepend-->
						<select
							class="form-control"
							id="color"
							name="color"
							[formControl]="acolor"
							aria-describedby="colorHelp"
						>
							<option selected>Unknown</option>
							<option>Brown</option>
							<option>Red</option>
							<option>Gold</option>
							<option>Yellow</option>
							<option>Cream</option>
							<option>Black</option>
							<option>Blue</option>
							<option>Gray</option>
							<option>White</option>
							<option>Black and Tan</option>
							<option>Blue and Tan</option>
							<option>Black and White</option>
							<option>Bicolor</option>
							<option>Tricolor</option>
							<option>Merle</option>
							<option>Spotted</option>
							<option>Harlequin</option>
							<option>Dilute</option>
							<option>Smoke</option>
							<option>Tabbies</option>
							<option>Points</option>
						</select>
					</div><!--input-group-->
					<small id="colorHelp">Please choose a predominant pet color or pattern.</small>
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center mb-3-->
			<div class="row justify-content-md-center">
				<div class="form-group col-md-6">
					<label class="control-label" for="location">Pet Last Known Location</label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-map-marker-alt text-primary"></i></span>
						</div><!--input-group-prepend-->
						<input
							type="text"
							class="form-control"
							id="location"
							name="location"
							[formControl]="alocation"
							placeholder="Please enter the last know pet location."
						/>
					</div><!--		input-group mb-3-->
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center">
				<div class="form-group col-md-6">
					<label class="control-label" for="description">Pet Description <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-comment text-primary"></i></span>
						</div>
						<textarea
							class="form-control"
							rows="5"
							id="description"
							name="description"
							[formControl]="adescription"
							placeholder="Please enter a detailed pet description. (250 character maximum)"
							required
							maxLength="250"
						></textarea>
					</div><!--input-group mb-3-->
					<div *ngIf="!adescription.valid && (adescription.dirty || adescription.touched)" class="alert alert-danger" role="alert">
						<div *ngIf="adescription.errors.required">
							The description field cannot be empty.
						</div>
						<div *ngIf="adescription.errors.maxLength">
							Your description is too long, it cannot exceed 500 characters.
						</div>
					</div><!--alert alert-danger-->
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center mt-3 mb-5">
				<div class="form-group col-md-6">
					<button
						type="submit"
						class="btn btn-primary text-light mr-3 animal-btn"
						[disabled]="!animalForm.valid"
					><i class="fas fa-edit"></i>&nbsp;&nbsp;Update</button>
					<button
						type="reset"
						class="btn btn-warning text-light animal-btn"
					><i class="fas fa-undo"></i>&nbsp;&nbsp;Clear All</button>
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center-->
		</div><!--container-->
	</form>
</main>