<main>
	<div class="container" *ngIf="profile">
		<h3 class="row text-center justify-content-center py-3">{{profile.profileName}}'s Profile Page</h3>
		<ul class="list-group col-sm-6 offset-3">
			<li class="list-group-item"><strong>Name:</strong> {{profile.profileName}}</li>
			<li class="list-group-item"><strong>Email:</strong> {{profile.profileEmail}}</li>
			<li class="list-group-item"><strong>Phone:</strong> Number: {{profile.profilePhone}}</li>
		</ul>
		<button type="button" class="btn btn-warning col-lg-3 col-md-6 col-sm-5 text-light offset-5 my-4 justify-content-center text-center" (click)="updateProfile(profile);"><i class="far fa-edit"></i> Edit</button>
	</div>
	<div class="container">
		<h3 *ngIf="profile">{{profile.profileName}}'s Animals</h3>
		<hr />
		<ul class="search-results">
			<li class="searchForm"  routerLink="/animal/{{animal.animalId}}" *ngFor="let animal of animals.sort(sortFunc) | paginate: { itemsPerPage: 2, currentPage: page }">
				<div class="row align-items-center bg-dark rounded py-3 my-4 mr-4">
					<div class="col-md-3 text-center my-2 searchBackground rounded px-1 mx-1 ml-4 mr-4">
						<img src="{{animal.animalImageUrl}}" alt="animal" class="img-fluid rounded p-3 searchImage">
					</div>
					<div class="col-md-4">
						<ul class="list-group">
							<li class="list-group-item"><strong class="searchHeader">Name:</strong> {{animal.animalName}}</li>
							<li class="list-group-item"><strong class="searchHeader">Status:</strong> {{animal.animalStatus}}</li>
							<li class="list-group-item"><strong class="searchHeader">Date:</strong> {{animal.animalDate | date:"short"}}</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-group">
							<li class="list-group-item"><strong class="searchHeader">Location:</strong> {{animal.animalLocation}}</li>
							<li class="list-group-item"><strong class="searchHeader">Gender:</strong> {{animal.animalGender}}</li>
							<li class="list-group-item"><strong class="searchHeader">Color:</strong> {{animal.animalColor}}</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<div class="text-center">
			<pagination-controls (pageChange)="page = $event"></pagination-controls>
		</div>
	</div>

</main>