<main>
	<form (ngSubmit)="onSubmit()" #f1="ngForm" class="form-control-md mt-5" id="form-profile">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="form-group col-md-6">
					<h1 class="text-center my-5">Update Profile</h1>
				</div><!--col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center">
				<div class="form-group col-md-3">
					<label class="control-label" for="firstname">First Name <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user text-primary"></i></span>
						</div><!--input-group-prepend-->
						<input
							type="text"
							class="form-control"
							id="firstname"
							name="firstname"
							[ngModel] = "fisrtName"
							#firstname = "ngModel"
							required
							maxLength="46"
						/>
					</div><!--input-group mb-3-->
					<div *ngIf="!firstname.valid && (firstname.dirty || firstname.touched)" class="alert alert-danger" role="alert">
						<div *ngIf="firstname.errors.required">
							First name is required.
						</div>
						<div *ngIf="firstname.errors.maxLength">
							Your first name is too long.
						</div>
					</div><!--alert alert-danger-->
				</div><!--form-group col-md-3-->
				<div class="form-group col-md-3">
					<label class="control-label" for="lastname">Last Name <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user text-primary"></i></span>
						</div><!--input-group-prepend-->
						<input
							type="text"
							class="form-control"
							id="lastname"
							name="lastname"
							[ngModel] = "lastName"
							#lastname = "ngModel"
							required
							maxLength="46"
						/>
					</div><!--input-group mb-3-->
					<div *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)" class="alert alert-danger" role="alert">
						<div *ngIf="lastname.errors.required">
							Last name is required.
						</div>
						<div *ngIf="lastname.errors.maxLength">
							Your last name is too long.
						</div>
					</div><!--alert alert-danger-->
				</div><!--col-md-3-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center mb-3">
				<div class="form-group col-md-6">
					<label class="control-label" for="email">Email <span class="text-danger">*</span></label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope text-primary"></i></span>
						</div><!--input-group-prepend-->
						<input
							class="form-control"
							type="text"
							id="email"
							name="email"
							placeholder="Enter your email address"
							aria-describedby="emailHelp"
							ngModel
							#email="ngModel"
							required
							email
						/>
					</div><!--	input-group-->
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					<div *ngIf="!email.valid && (email.dirty || email.touched)" class="alert alert-danger" role="alert">
						<div *ngIf="email.errors.required">
							Email is required.
						</div>
						<div *ngIf="email.errors.email">
							Please provide a valid email!
						</div>
					</div><!--alert alert-danger-->
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center">
				<div class="form-group col-md-6">
					<label class="control-label" for="phone">Phone Number <span class="text-danger">*</span></label>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone text-primary"></i></span>
						</div><!--	input-group-prepend-->
						<input
							class="form-control"
							type="tel"
							id="phone"
							name="phone"
							placeholder="123-456-7890"
							ngModel
							#phone="ngModel"
							pattern="[0-9]{3}(-)?[0-9]{3}(-)?[0-9]{4}"
							required
						/>
					</div><!--		input-group mb-3-->
					<div *ngIf="!phone.valid && (phone.dirty || phone.touched)" class="alert alert-danger" role="alert">
						<div *ngIf="phone.errors.required">
							Phone number is required.
						</div>
						<div *ngIf="phone.errors.pattern">
							<p>Please use one of the following formats for your phone:</p>
							<p>123-456-7890</p>
							<p>1234567890</p>
						</div>
					</div><!--alert alert-danger-->
				</div><!--form-group col-md-6-->
			</div><!--row justify-content-md-center-->
			<div class="row justify-content-md-center mt-3 mb-5">
				<div class="form-group col-md-6">
					<button
						type="submit"
						class="btn btn-primary text-light mr-3 profile-btn"
						[disabled]="!f1.valid"
					><i class="fas fa-edit"></i>&nbsp;&nbsp;Update</button>
					<button
						type="reset"
						class="btn btn-warning text-light profile-btn"
					><i class="fas fa-undo"></i>&nbsp;&nbsp;Clear All</button>
				</div><!--col-md-6-->
			</div><!--row justify-content-md-center mt-3 mb-5-->
		</div><!--		container-->
	</form>
</main>