/*Global Styling*/
main {
	padding-top: 6em;
}

/*navbar*/
/*custom navbar toggler*/
.icon-bar {
	width: 1.5em;
	height: .15em;
	background-color: #444444;
	display: block;
	transition: all 0.5s;
	margin-top: .32em;
}
/*navbar toggler animation*/
.navbar-toggler {
	border: none;
	background: transparent !important;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 4.5% 20%;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 4.5% 80%;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

/*Homepage Styles*/
.home {
	background-color: lightslategrey;
	border-radius: 5px;
	padding-top: 3em;
	padding-bottom: 3em;
}

.card-img {
	max-height: 25em;
	opacity: .70;
}

.card-img-overlay {
	color: black;
}

#facebook-button {
	background-color: #4267B2;
	color: white;
	border-radius: 0;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.4);
}

/*Profile-update*/
.profile {
	width: 7.5em;
 }

/*Footer style*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}


