/*navbar*/
/*custom navbar toggler*/
.icon-bar {
	width: 1.5em;
	height: .15em;
	background-color: #444444;
	display: block;
	transition: all 0.5s;
	margin-top: .32em;
}
/*navbar toggler animation*/
.navbar-toggler {
	border: none;
	background: transparent !important;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 4.5% 20%;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 4.5% 80%;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

.home {
	background-color: lightslategrey;
	border-radius: 5px;
	margin-top: 5em;
	padding-top: 3em;
	padding-bottom: 3em;
}

.card-img {
	max-height: 25em;
}

#facebook-button {
	background-color: #4267B2;
	color: white;
	border-radius: 0;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.4);
}

.red-star {
	color: red;
	font-weight: bolder;
}

label[class="control-label"] {
	/*color: #1e623b;*/
	font-weight: bolder;
}

i[class~="fa"] {
	color: #428bca;
	font-size: 1.2rem;
}

button .profile {
	width: 7em;
	margin-right: 1rem;
	margin-top: 1rem;
}

.my-btn {
	color: white;
	/*font-weight: bolder;*/
	font-size: 1.1rem;
}
