@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,700');

/*Global Styling*/
html {
	display: flex;
}

body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

header {
	padding-bottom: 5em;
}

/*navbar*/

.navbar {
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

.nav-logo {
	height: 2em;
}

/*custom navbar toggler*/
.icon-bar {
	width: 1.5em;
	height: .15em;
	background-color: #444444;
	display: block;
	transition: all 0.5s;
	margin-top: .32em;
}
/*navbar toggler animation*/
.navbar-toggler {
	border: none;
	background: transparent !important;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 4.5% 20%;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 4.5% 80%;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}
.nav-link {
	cursor: pointer;
}
@media  screen
	and (max-device-width: 369px) {
	#bigger-than-iphonese {
		display: none;
	}
}

/*Homepage Styles*/
.home {
	background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("../src/app/images/lost-paws-header.jpeg");
	background-position: 60% 95px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	padding-top: 3em;
	padding-bottom: 3em;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/*
Card styling
 */

.card-home:hover {
	cursor: pointer;
}

.card-img-bottom {
	max-height: 25em;
	opacity: .70;
}

.card-img-overlay {
	color: black;
}


#facebook-button {
	background-color: #4267B2;
	color: white;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.4);
	height: 2.5rem;
	width: 15rem;
}

#google-button {
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.4);
	height: 2.5rem;
	width: 15rem;
}

#google-button > img {
	height: 1em;
	width: 1em;
	margin-bottom: .18em;
}

.animal-buttons {
	margin-bottom: 2em;
}

/*profile-update*/
.profile-btn {
	width: 7.5em;
}

/*animal-post*/
.animal-btn {
	width: 7.5em;
}

#photo {
	width: 9em;
}

label[for="pet"] {
	width: 6em;
}

/*Animal Card */

#animal-card {
/*	width: 600px;*/
max-height: 600px;
}

.submit-btn{
	background-color: #52a489;
	color: white;
}

.info-btn {
	background-color: #52a489;
	color: white;
}

.list-span {
	font-weight: bold;
	font-size: 1.2em;
	color: #52a489;
}

/*about-us*/
.about-picture {
	height: 12em;
	width: 9em;
}

/* Shelter page */
.shelter-header{
	color: #52a489;
}

/*Search results*/
.search-results {
	list-style: none;
}
/* Search image and form */
.searchForm {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.searchForm:hover {
	text-decoration: none;
	color: black;
	text-underline: none;
}

.searchHeader{
	color: #3a9a81;
	font-weight: 700;
}

.searchImage {
	max-width: 100%;
	max-height: 28vh;
}

.searchBackground {
	max-width: 85%;
	max-height: 28vh;
	background-image: url("../src/app/images/paw-print.jpg");
	background-size: contain;
}
/*Success Stories*/
.success-story {
	background-color: #52a489;
}

/* Footer */
.sfooter > * {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

#ngui-map-api {
	display: none;
}



