<main>
	<div class="container-fluid home text-md-center text-lg-left">
		<div class="row">
			<div class="col-md pl-lg-5 ml-lg-5">
				<h1>Welcome to Lost Paws!</h1>
				<p>Lost Paws is home to a community of pet lovers dedicated to helping lost pets reunite with their
					families.</p>
			</div>
		</div>
	</div>

	<div class="container pl-1 pr-1 mt-4" *ngIf="isAuthenticated === true">
		<button routerLink="animal-post" type="button" class="btn submit-btn btn-lg btn-block shadow">Post a lost or found
			animal
		</button>
	</div>

	<div class="container pl-1 pr-1 mt-4" *ngIf="isAuthenticated === false">
		<h4 class="text-center pt-3">Need to post a pet?</h4>
		<p class="text-center">No sign-up required, simply sign-in with your Google or Facebook account.</p>
		<button type="button" class="btn submit-btn btn-lg btn-block mt-2 mb-4 shadow" data-toggle="modal" data-target="#sign-in-modal">Sign In Now</button>
	</div>
	<div class="container animal-buttons mt-4 text-center">
		<div class="row">
			<div class="col-md">
				<h2>Search lost and found animals.</h2>
			</div>
		</div>
	</div>
	<div class="container mt-3 mb-5 text-center">
		<div class="row">
			<div class="col-md-6 pb-5">
				<!--<a routerLink="/search">-->
					<div class="card border border-secondary h-100 shadow bg-light" routerLink="/search">
						<div class="card-body text-dark">
							<h3>See All <br>Lost Animals</h3>
						</div>
						<img class="card-img-bottom" src="../images/puppy.jpg" alt="card image">
					</div>
				<!--</a>-->
			</div>
			<div class="col-md-6 pb-5">
				<!--<a routerLink="/search/animalStatus/Found">-->
					<div class="card border border-secondary h-100 shadow bg-light" routerLink="/search/animalStatus/Found">
						<div class="card-body text-dark">
							<h3>See All <br>Found Animals</h3>
						</div>
						<img class="card-img-bottom" src="../images/cat4.jpeg" alt="card image">
					</div>
				<!--</a>-->
			</div>
		</div>
	</div>
</main>